
SECRET_KEY=slf%ahim$wlwiqy-it=uw5f%f+*j@q-

# PostgreSQL database info
DATABASE_NAME=artweb
DATABASE_USER=boxer
DATABASE_PASS=white4882
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Service to send SMS messages via.  
# Must be either 'twilio' or 'nexmo'
SMS_TYPE=twilio

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SENDER=

NEXMO_API_KEY=
NEXMO_API_SECRET=
NEXMO_SENDER=

MSG_NO_IMAGE_RECEIVED="Hi! This number is for www.artweb.com to receive images. We didn't detect a pic in the message you sent. If you send us a pic, we'll save it and send you back a link to a page with that pic."
MSG_FIRST_IMAGE="Welcome to Artweb!  Check your image here: ~url~"
MSG_RECURRING_IMAGE="Good to see you again, here's your image: ~url~\n\nTo see all your images, visit your profile page at ~profile_url~"


